body {
    font-family: Arial, sans-serif;
    background-color: #495867;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.header {
    width: 100%;
    height: 10vh; /* Header height set to 10% of the viewport height */
    background: url('header.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left img {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-form h2 {
    margin: 0;
}

.login-form label {
    margin: 5px 0;
}

.login-form input {
    margin: 5px 0;
}

.login-form button {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #577399;
    color: white;
    border: none;
    cursor: pointer;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
}

.contact-form {
    background-color: yellow;
    color: #495867;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #577399;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #34495e;
}

.calendar {
    background-color: #98FB98; /* GreenPink color */
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.calendar h2 {
    margin-top: 0;
}

#calendar {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.time {
    text-align: center;
    margin: 20px 0;
}

.footer {
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-form {
        position: static;
        align-items: flex-start;
    }

    .bottom-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .calendar {
        width: 100%;
        margin-bottom: 20px;
    }
}
