/* styles.css */

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container for the whole page */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #495867; /* Background color for the body */
}

/* Header styles */
.header {
    width: 50%;
    height: 10vh; /* Header height set to 10% of the viewport height */
    background: url('website.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Logo inside header */
.header img.header-image {
    height: 50%;
}

/* Login form inside header */
.header .login-form {
    display: flex;
    align-items: center;
}

/* Login form styles */
.login-form input {
    margin: 0 10px;
    padding: 5px;
}

.login-form button {
    padding: 5px 10px;
    background-color: yellow; /* Yellow button background */
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: darkyellow; /* Darker yellow on hover */
}

/* Content styles */
.content {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Register form */
.register-form {
    display: none;
}

.register-form, .contact-form, .calendar, .time {
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form {
    background-color: yellow; /* Yellow background for contact form */
}

.calendar {
    background-color: lightgreen; /* Light green background for calendar */
}


}

.footer-content a:hover {
    text-decoration: underline;
}

/* Moving text */
.moving-text {
    width: 100%;
    background-color: #78A1BB;
    color: #E5EFF5;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

.moving-text p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.footer-content a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
